p {
    font-size: 13px;
    font-family: sans-serif;
}


.satu {
    float: left;
    padding-left: 1rem;

}

.dua {
    float: left;
    padding-left: 1rem;


}

.tiga {
    float: left;
    padding-left: 1rem;


}

.empat {
    float: left;
    padding-left: 1rem;


}

.lima {
    float: left;
    padding-left: 1rem;


}